@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');

* {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-weight: 700;
}

h4 {
    font-weight: bold;
}

:root {
    --red: #2db436;
    --white: #FFFFFF;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 72px;
    margin: auto;
    font-weight: 900;

    position: sticky;
}
.container {
    margin: 0 auto;
    height: 700px;
    width: 1280 px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 72px;
    margin: auto;
    font-weight: 900;

    position: sticky;
}
.navLinks ul li {
    display: none;
}

nav ul {
    display: flex;
    gap: 50px;  
    list-style: none;

}

nav li a {
    color: black;
    text-decoration: none;

}

button {
    all: unset;
    height: 30px;
    background: var(--red);
    color: #FFFFFF;
    padding: 6px 16px;
}


/* responsiveness-----------------> */
.sidebar {
    display: none;
}

.responsive-Img {
    display: none;
}

.sidebar-btn {
    display: none;
}



.about{
    margin: 40px auto;
    max-width: 1200px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 20px;
    padding: 20px 20px  ;
    background-color: rgb(246, 246, 246);
    
}































@media screen and (width <=385px) {
    * {
        font-size: 12px;
    }
    a{
        font-weight: bold;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
    }

    nav {
        display: none;
    }

    .sidebar-btn {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .responsive-Img {
        display: flex;
        margin: 20px 10px;
    }

    .responsive-nav img {
        height: 20px;
        width: 130px;
    }

    .sidebar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding:20px ;

        background-color: #ffffff;

        width: 45%;
        height: 100%;

        position: absolute;
        top: 55px;
        left: 0px;


        transition:height ease-out 0.5s;
        overflow: hidden;
    }
    
    #respUl {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        list-style: none;
    }

    .sidebar li a {
        text-decoration: none;
        color: black;
    }
}