<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="aboutus.css">
</head>

<body>
    <main class="container">

        <nav class="navbar">
            <div class="logo">
                <img src="/public/images/Logo.png" alt="Logo">

            </div>
            <ul>
                <li><a href="/src/index.html">Home</a></li>
                <li><a href="/src/components/about/aboutus.htm">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="/src/components/contact/contact.htm">Contact</a></li>
            </ul>
            <div>
                <button>
                    SignUp
                </button>
            </div>
        </nav>
         <!-- responsive sidebar code from here--------->

         <div class="responsive-Img">
            <img src="/public/images/Logo.png" height="15px" width="100px" alt="Logo">
        </div>

        <div class="sidebar">
            <ul id="respUl">
                <li><a href="/src/index.html">Home</a></li>
                <li><a href="/src/components/about/aboutus.htm">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="/src/components/contact/contact.htm">Contact</a></li>
            </ul>
        </div>

        <div class="sidebar-btn">
            <button id='toggleButton' onclick="openSideBar()">☰</button>
        </div>

        
        <div class="about">
        <h2>About Us</h2>
            <p>If you're just getting started or searching for a change, you've come to the correct spot. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat optio et adipisci maxime? Aut et repudiandae doloremque reprehenderit non! Ut mollitia possimus ipsa blanditiis a doloremque architecto est ratione unde? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste aut cumque officia iusto eaque, ipsam deserunt. Recusandae cupiditate, libero placeat eius atque voluptatibus enim ea quibusdam, magnam, necessitatibus officia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati suscipit magnam blanditiis velit odit quasi culpa neque praesentium cumque earum reprehenderit minima quis eius quos sapiente incidunt, consectetur quisquam enim.</p>
        </div>
            

    </main>
    <script src="/src/index.js"></script>
</body>

</html>